.telefonHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 17px;
  margin-bottom: 10px;
}

.languageSelection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  background-color: #ffffff;
  width: 330px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 35px;
  margin-bottom: 20px;
}
.languageSelection__FlegBritsh {
  width: 40px;
  height: 20px;
  margin-right: 10px;
  position: relative;
  top: 10px;
}
.languageSelection__Logo {
  position: relative;
  left: 15px;
  width: 80px;
}

@media (min-width: 376px) {
  .telefonHeader {
    display: none;
  }
  .languageSelection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
    background-color: #ffffff;
    width: 80vw;
    margin: 0 auto;
    padding: 10px;
    border-radius: 35px;
    margin-bottom: 20px;
  }
  .languageSelection__FlegBritsh {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 10px;
  }
  .languageSelection__Logo {
    position: relative;
    left: 15px;
    width: 80px;
  }
  header {
    padding-top: 15px;
  }
}
.inputDiv__LoremBtn, .detailedExplanationSection__LoremBtn, .categorySection__LoremBtn, .workSection__LoremBtn, .menuDiv__LoremBtn {
  padding: 15px 30px;
  border: 0;
  border-radius: 30px;
  margin-bottom: 20px;
  position: relative;
  top: 20px;
}
.inputDiv__LoremBtn div, .detailedExplanationSection__LoremBtn div, .categorySection__LoremBtn div, .workSection__LoremBtn div, .menuDiv__LoremBtn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
}
.inputDiv__LoremBtn img, .detailedExplanationSection__LoremBtn img, .categorySection__LoremBtn img, .workSection__LoremBtn img, .menuDiv__LoremBtn img {
  width: 30px;
}
.inputDiv__LoremBtn a, .detailedExplanationSection__LoremBtn a, .categorySection__LoremBtn a, .workSection__LoremBtn a, .menuDiv__LoremBtn a {
  text-decoration: none;
}
.inputDiv__LoremBtn p, .detailedExplanationSection__LoremBtn p, .categorySection__LoremBtn p, .workSection__LoremBtn p, .menuDiv__LoremBtn p {
  font-size: 18px;
  font-weight: 700;
}

.menuDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
  bottom: 30px;
}

.menuDiv__Explanation {
  position: relative;
  left: 15px;
  bottom: 20px;
}
.menuDiv__Explanation h3 {
  color: #ffbb45;
}
.menuDiv__Explanation h1 {
  padding: 10px 0;
  margin-bottom: 10px;
}

.menuDiv__ListUl {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  width: 300px;
}
.menuDiv__ListUl li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
}
.menuDiv__ListUl img {
  width: 24px;
  height: 24px;
}
.menuDiv__ListUl p {
  display: inline;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menuDiv__h1Span {
  display: block;
}

.menuDiv__LoremBtn {
  background-color: #ffbb45;
}
.menuDiv__LoremBtn a {
  color: #262626;
}

.menuDiv {
  -webkit-transform: skewY(-15deg);
          transform: skewY(-15deg);
  padding-bottom: 70px;
}
.menuDiv__Explanation {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}
.menuDiv__Image {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}

@media (min-width: 376px) {
  .menuDiv {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px 0;
    padding-bottom: 20px;
    gap: 40px;
  }
  .menuDiv__Explanation {
    position: relative;
    left: 15px;
    bottom: 20px;
  }
  .menuDiv__Explanation h3 {
    color: #ffbb45;
  }
  .menuDiv__Explanation h1 {
    font-size: 40px;
  }
  .menuDiv__ListUl {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    width: 500px;
  }
  .menuDiv__ListUl li {
    display: flex inline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    padding: 7px 10px;
    background-color: #ffffff;
    border-radius: 25px;
  }
  .menuDiv__ListUl img {
    width: 24px;
    height: 24px;
  }
  .menuDiv {
    -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
    padding-bottom: 70px;
  }
  .menuDiv__Explanation {
    -webkit-transform: skewY(10deg);
            transform: skewY(10deg);
  }
  .menuDiv__Image {
    -webkit-transform: skewY(10deg);
            transform: skewY(10deg);
  }
}
.inputDiv__LoremBtn, .detailedExplanationSection__LoremBtn, .categorySection__LoremBtn, .workSection__LoremBtn, .menuDiv__LoremBtn {
  padding: 15px 30px;
  border: 0;
  border-radius: 30px;
  margin-bottom: 20px;
  position: relative;
  top: 20px;
}
.inputDiv__LoremBtn div, .detailedExplanationSection__LoremBtn div, .categorySection__LoremBtn div, .workSection__LoremBtn div, .menuDiv__LoremBtn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
}
.inputDiv__LoremBtn img, .detailedExplanationSection__LoremBtn img, .categorySection__LoremBtn img, .workSection__LoremBtn img, .menuDiv__LoremBtn img {
  width: 30px;
}
.inputDiv__LoremBtn a, .detailedExplanationSection__LoremBtn a, .categorySection__LoremBtn a, .workSection__LoremBtn a, .menuDiv__LoremBtn a {
  text-decoration: none;
}
.inputDiv__LoremBtn p, .detailedExplanationSection__LoremBtn p, .categorySection__LoremBtn p, .workSection__LoremBtn p, .menuDiv__LoremBtn p {
  font-size: 18px;
  font-weight: 700;
}

.inputDiv__LoremBtn, .detailedExplanationSection__LoremBtn, .categorySection__LoremBtn, .workSection__LoremBtn, .menuDiv__LoremBtn {
  padding: 15px 30px;
  border: 0;
  border-radius: 30px;
  margin-bottom: 20px;
  position: relative;
  top: 20px;
}
.inputDiv__LoremBtn div, .detailedExplanationSection__LoremBtn div, .categorySection__LoremBtn div, .workSection__LoremBtn div, .menuDiv__LoremBtn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
}
.inputDiv__LoremBtn img, .detailedExplanationSection__LoremBtn img, .categorySection__LoremBtn img, .workSection__LoremBtn img, .menuDiv__LoremBtn img {
  width: 30px;
}
.inputDiv__LoremBtn a, .detailedExplanationSection__LoremBtn a, .categorySection__LoremBtn a, .workSection__LoremBtn a, .menuDiv__LoremBtn a {
  text-decoration: none;
}
.inputDiv__LoremBtn p, .detailedExplanationSection__LoremBtn p, .categorySection__LoremBtn p, .workSection__LoremBtn p, .menuDiv__LoremBtn p {
  font-size: 18px;
  font-weight: 700;
}

.workSection {
  background-color: #ffbb45;
  -webkit-transform: skewY(-15deg);
          transform: skewY(-15deg);
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.workSection__Explanation {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}
.workSection__Image {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}

.workSection__Explanation {
  padding-left: 10px;
}
.workSection__Explanation h2 {
  font-weight: 700;
  font-size: 40px;
  padding: 10px 0;
}
.workSection__Explanation p {
  padding: 10px 0;
}

.xetDizayn {
  text-decoration: underline;
}

.workSection__Explanation--span {
  display: block;
}

.telefon-span {
  display: block;
}

.workSection__LoremBtn {
  background-color: #262626;
}
.workSection__LoremBtn a {
  color: #262626;
}
.workSection__LoremBtn p {
  color: #ffffff;
}

@media (min-width: 376px) {
  .workSection {
    background-color: #ffbb45;
    -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
    padding-bottom: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px 0;
  }
  .workSection__Explanation {
    -webkit-transform: skewY(10deg);
            transform: skewY(10deg);
  }
  .workSection__Image {
    -webkit-transform: skewY(10deg);
            transform: skewY(10deg);
  }
}
.inputDiv__LoremBtn, .detailedExplanationSection__LoremBtn, .categorySection__LoremBtn, .menuDiv__LoremBtn, .workSection__LoremBtn {
  padding: 15px 30px;
  border: 0;
  border-radius: 30px;
  margin-bottom: 20px;
  position: relative;
  top: 20px;
}
.inputDiv__LoremBtn div, .detailedExplanationSection__LoremBtn div, .categorySection__LoremBtn div, .menuDiv__LoremBtn div, .workSection__LoremBtn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
}
.inputDiv__LoremBtn img, .detailedExplanationSection__LoremBtn img, .categorySection__LoremBtn img, .menuDiv__LoremBtn img, .workSection__LoremBtn img {
  width: 30px;
}
.inputDiv__LoremBtn a, .detailedExplanationSection__LoremBtn a, .categorySection__LoremBtn a, .menuDiv__LoremBtn a, .workSection__LoremBtn a {
  text-decoration: none;
}
.inputDiv__LoremBtn p, .detailedExplanationSection__LoremBtn p, .categorySection__LoremBtn p, .menuDiv__LoremBtn p, .workSection__LoremBtn p {
  font-size: 18px;
  font-weight: 700;
}

.categorySection {
  background-color: #262626;
  -webkit-transform: skewY(-15deg);
          transform: skewY(-15deg);
  padding-bottom: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
}
.categorySection__Titel {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}
.categorySection__Category {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}

.categorySection__Titel {
  padding-left: 10px;
}
.categorySection__Titel .categorySection__p {
  color: #ffbb45;
  font-size: 25px;
  padding: 10px 0;
}
.categorySection__Titel h2 {
  color: #ffffff;
  font-size: 40px;
  padding-bottom: 20px;
}

.categorySection__Titel--h2_span {
  display: block;
}

.categorySection__Titel--h2_span2 {
  display: block;
}

.categorySection__Titel--p_span1 {
  display: block;
}

.categorySection__Titel--p_span2 {
  display: block;
}

.categorySection__Titel--p_span3 {
  display: block;
}

.categorySection__LoremBtn {
  background-color: #ffffff;
}
.categorySection__LoremBtn a {
  color: #262626;
}
.categorySection__LoremBtn p {
  color: #262626;
}

.categorySection__Category {
  padding: 20px 0;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 20px;
  margin-right: 50px;
}
.categorySection__Category li:nth-child(odd) {
  background-color: #ffffff;
}
.categorySection__Category li:nth-child(odd) span {
  color: #ffbb45;
}
.categorySection__Category li:nth-child(even) {
  background-color: #ffbb45;
}
.categorySection__Category li:nth-child(even) span {
  color: #ffffff;
}
.categorySection__Category li {
  width: 230px;
  padding: 20px;
  border-radius: 30px;
}
.categorySection__Category img {
  padding: 10px 0;
}
.categorySection__Category h2 {
  font-size: 60px;
}
.categorySection__Category h4 {
  padding-bottom: 10px;
  font-size: 20px;
}
.categorySection__Category .categorySection__p {
  color: #ffbb45;
  font-size: 20px;
}

@media (min-width: 376px) {
  .categorySection {
    background-color: #262626;
    -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
    padding-bottom: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 200px;
  }
  .categorySection__Titel {
    -webkit-transform: skewY(10deg);
            transform: skewY(10deg);
  }
  .categorySection__Category {
    -webkit-transform: skewY(10deg);
            transform: skewY(10deg);
  }
  .categorySection__Titel {
    padding-left: 200px;
    padding-right: 50px;
  }
  .categorySection__Titel .categorySection__p {
    color: #ffbb45;
    font-size: 25px;
    padding: 10px 0;
  }
  .categorySection__Titel h2 {
    color: #ffffff;
    font-size: 40px;
    padding-bottom: 20px;
  }
  .categorySection__Titel--h2_span {
    display: inline;
  }
  .categorySection__Titel--h2_span2 {
    display: inline;
  }
  .categorySection__Titel--p_span1 {
    display: inline;
  }
  .categorySection__Titel--p_span2 {
    display: inline;
  }
  .categorySection__Titel--p_span3 {
    display: inline;
  }
  .conpiterSpan {
    display: block;
  }
  .categorySection__Category {
    padding: 20px 0;
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 700px;
    gap: 40px;
  }
  .categorySection__Category li:nth-child(1) {
    position: relative;
    bottom: 100px;
    background-color: #ffffff;
  }
  .categorySection__Category li:nth-child(1) span {
    color: #ffbb45;
  }
  .categorySection__Category li:nth-child(4) {
    background-color: #ffffff;
  }
  .categorySection__Category li:nth-child(4) span {
    color: #ffbb45;
  }
  .categorySection__Category li:nth-child(3) {
    background-color: #ffbb45;
    position: relative;
    bottom: 100px;
  }
  .categorySection__Category li:nth-child(3) span {
    color: #ffffff;
  }
  .categorySection__Category li:nth-child(2) {
    background-color: #ffbb45;
  }
  .categorySection__Category li:nth-child(2) span {
    color: #ffffff;
  }
  .categorySection__Category li {
    width: 200px;
    padding: 20px;
    border-radius: 30px;
  }
  .categorySection__Category img {
    padding: 10px 0;
  }
  .categorySection__Category h2 {
    font-size: 60px;
  }
  .categorySection__Category h4 {
    padding-bottom: 10px;
    font-size: 20px;
  }
  .categorySection__Category p {
    font-size: 20px;
  }
}
.costomerSection {
  position: absolute;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  width: 300px;
  border-radius: 60px;
  text-align: center;
  left: 35px;
  top: 3680px;
  z-index: 1;
}
.costomerSection img {
  width: 230px;
}

.costomerSection__About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.costomerSection__About img {
  width: 150px;
  position: relative;
  top: 10px;
}
.costomerSection__About h2 {
  font-size: 30px;
}
.costomerSection__About span {
  display: block;
}

.holly-p {
  font-size: 22px;
  font-weight: 700;
}

.costomerSection__titel--span {
  display: block;
}

@media (min-width: 376px) {
  .costomerSection {
    position: absolute;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
    width: 80vw;
    align-items: center;
    border-radius: 60px;
    text-align: start;
    top: 2280px;
    left: 10%;
    z-index: 1;
  }
  .costomerSection img {
    width: 230px;
  }
  .costomerSection__About {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  .costomerSection__About img {
    width: 120px;
    position: relative;
    right: 124px;
    top: 10px;
  }
  .costomerSection__About p {
    width: 500px;
    position: relative;
    left: 63px;
  }
  .costomerSection__About h2 {
    font-size: 30px;
  }
  .costomerSection__About span {
    display: inline;
  }
  .holly-p {
    font-size: 22px;
    font-weight: 700;
  }
  .costomerSection__titel--span {
    display: block;
  }
}
.inputDiv__LoremBtn, .detailedExplanationSection__LoremBtn, .menuDiv__LoremBtn, .workSection__LoremBtn, .categorySection__LoremBtn {
  padding: 15px 30px;
  border: 0;
  border-radius: 30px;
  margin-bottom: 20px;
  position: relative;
  top: 20px;
}
.inputDiv__LoremBtn div, .detailedExplanationSection__LoremBtn div, .menuDiv__LoremBtn div, .workSection__LoremBtn div, .categorySection__LoremBtn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
}
.inputDiv__LoremBtn img, .detailedExplanationSection__LoremBtn img, .menuDiv__LoremBtn img, .workSection__LoremBtn img, .categorySection__LoremBtn img {
  width: 30px;
}
.inputDiv__LoremBtn a, .detailedExplanationSection__LoremBtn a, .menuDiv__LoremBtn a, .workSection__LoremBtn a, .categorySection__LoremBtn a {
  text-decoration: none;
}
.inputDiv__LoremBtn p, .detailedExplanationSection__LoremBtn p, .menuDiv__LoremBtn p, .workSection__LoremBtn p, .categorySection__LoremBtn p {
  font-size: 18px;
  font-weight: 700;
}

.detailedExplanationSection {
  padding-top: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: #ffbb45;
  padding-bottom: 100px;
  -webkit-transform: skewY(-15deg);
          transform: skewY(-15deg);
}
.detailedExplanationSection__options {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}
.detailedExplanationSection__Image {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}

.detailedExplanationSection__options {
  padding-left: 10px;
}
.detailedExplanationSection__options h2 {
  font-size: 40px;
  width: 300px;
  padding-bottom: 10px;
}

.detailedExplanationSection__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
  width: 300px;
}
.detailedExplanationSection__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
}
.detailedExplanationSection__list img {
  width: 24px;
  height: 24px;
}
.detailedExplanationSection__list p {
  display: inline;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.detailedExplanationSection__LoremBtn {
  background-color: #262626;
}
.detailedExplanationSection__LoremBtn a {
  color: #262626;
}
.detailedExplanationSection__LoremBtn p {
  color: #ffffff;
}

@media (min-width: 376px) {
  .detailedExplanationSection {
    padding-top: 300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #ffbb45;
    padding-bottom: 150px;
    -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
  }
  .detailedExplanationSection__options {
    -webkit-transform: skewY(10deg);
            transform: skewY(10deg);
  }
  .detailedExplanationSection__Image {
    -webkit-transform: skewY(10deg);
            transform: skewY(10deg);
  }
  .detailedExplanationSection__options {
    padding-left: 15px;
  }
  .detailedExplanationSection__options h2 {
    width: 400px;
  }
  .detailedExplanationSection__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    padding: 20px 0;
    width: 400px;
  }
  .detailedExplanationSection__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    background-color: #ffffff;
    padding: 7px 10px;
    border-radius: 25px;
  }
  .detailedExplanationSection__list img {
    width: 24px;
    height: 24px;
  }
  .detailedExplanationSection__list p {
    display: inline;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.recordSection {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  padding-bottom: 100px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  -webkit-transform: skewY(-15deg);
          transform: skewY(-15deg);
}
.recordSection__List {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}
.recordSection__titel {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}

.recordSection__titel {
  text-align: center;
  padding-bottom: 40px;
}
.recordSection__titel h2 {
  font-size: 40px;
  padding-bottom: 10px;
}
.recordSection__List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.recordSection__List li {
  background-color: white;
  color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  padding: 30px;
  border-radius: 40px;
  gap: 10px;
}
.recordSection__List h3 {
  width: 170px;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 900;
}

.recordDiv__-Design {
  font-size: 40px;
  font-weight: 900;
  color: #ffbb45;
}

@media (min-width: 376px) {
  .recordSection {
    padding-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #262626;
    padding-bottom: 200px;
    color: #ffffff;
    -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
  }
  .recordSection__List {
    -webkit-transform: skewY(10deg);
            transform: skewY(10deg);
  }
  .recordSection__titel {
    -webkit-transform: skewY(10deg);
            transform: skewY(10deg);
  }
  .recordSection__titel {
    text-align: center;
    padding-bottom: 40px;
  }
  .recordSection__titel h2 {
    font-size: 40px;
    padding-bottom: 10px;
  }
  .recordSection__List {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .recordSection__List li {
    background-color: #ffffff;
    color: #262626;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
    padding: 30px;
    border-radius: 40px;
    gap: 10px;
  }
  .recordSection__List h3 {
    width: 1000px;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 900;
  }
  .recordSection__List p {
    width: 1000px;
  }
  .recordDiv__-Design {
    padding-left: 10px;
    font-size: 40px;
    font-weight: 900;
    color: #ffbb45;
  }
}
.inputDiv__LoremBtn, .menuDiv__LoremBtn, .workSection__LoremBtn, .categorySection__LoremBtn, .detailedExplanationSection__LoremBtn {
  padding: 15px 30px;
  border: 0;
  border-radius: 30px;
  margin-bottom: 20px;
  position: relative;
  top: 20px;
}
.inputDiv__LoremBtn div, .menuDiv__LoremBtn div, .workSection__LoremBtn div, .categorySection__LoremBtn div, .detailedExplanationSection__LoremBtn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
}
.inputDiv__LoremBtn img, .menuDiv__LoremBtn img, .workSection__LoremBtn img, .categorySection__LoremBtn img, .detailedExplanationSection__LoremBtn img {
  width: 30px;
}
.inputDiv__LoremBtn a, .menuDiv__LoremBtn a, .workSection__LoremBtn a, .categorySection__LoremBtn a, .detailedExplanationSection__LoremBtn a {
  text-decoration: none;
}
.inputDiv__LoremBtn p, .menuDiv__LoremBtn p, .workSection__LoremBtn p, .categorySection__LoremBtn p, .detailedExplanationSection__LoremBtn p {
  font-size: 18px;
  font-weight: 700;
}

.footer {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  -webkit-transform: skewY(-15deg);
          transform: skewY(-15deg);
}
.footer__inputDiv {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}
.footer__footerBottom {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}

.footer__inputDiv h2 {
  width: 330px;
  font-size: 35px;
}

.inputDiv__LoremBtn {
  background-color: #ffbb45;
}
.inputDiv__LoremBtn a {
  color: #262626;
}

.footer__footerBottom {
  position: relative;
  top: 50px;
}

@media (min-width: 376px) {
  .footer {
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 200px;
    padding-left: 10px;
    -webkit-transform: skewY(-15deg);
            transform: skewY(-15deg);
  }
  .footer__inputDiv {
    -webkit-transform: skewY(15deg);
            transform: skewY(15deg);
  }
  .footer__footerBottom {
    -webkit-transform: skewY(15deg);
            transform: skewY(15deg);
  }
  .footer__inputDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__inputDiv h2 {
    width: 500px;
    font-size: 35px;
  }
  .footer__footerBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 117px;
    position: relative;
    top: 50px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #feedbc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}